*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

p, h1, h2, h3 {
    overflow-wrap: break-word;
}

p {
    hyphens: auto;
    text-wrap: pretty;
}

img {
    max-width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-color: var(--secondary-light-pink-bg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--primary-dark-purple);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--font-family-defaut);
    justify-content: center;
    line-height: 1.5;
    align-items: center;
    min-height: 100vh;
}

:root {
    --primary-dark-purple: hsl(292, 42%, 14%);
    --primary-white: hsl(0, 0%, 100%);

    --secondary-light-pink-bg: hsl(275, 100%, 97%);
    --secondary-lilac: hsl(280, 81%, 54%);
    --secondary-grayish-purple: hsl(292, 16%, 49%);

    --font-family-defaut: 'Work Sans', sans-serif;
}

main {
    background-color: var(--primary-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 450px;
    padding: 25px;
}

details > summary {
    display: inline-block;
    list-style: none;
}

h1 {
    font-size: 3rem;
}

h1::before {
    align-self: top;
    background-image: url('./assets/images/icon-star.svg');
    background-size: cover;
    content: "";
    display: inline-block;
    height: 35px;
    margin-right: 20px;
    width: 35px;
}

footer { 
    font-size: 0.6875rem; 
    text-align: center; 
}
footer a { 
    color: hsl(228, 45%, 44%); 
}